/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

header {
    background-color: gray;
    /* background-image: url(); */
}

.container {
    width: 70%;
    margin: 0 15%;
}

.content-block:nth-of-type(2n+0) {
    background-color: lightgray
}
    /* Regole centralizzate buttons */
    .btn {
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
    }
    .btn-large {
        border-radius: 35px;
        padding: 15px 30px;
        font-size: 20px;
        text-decoration: none;
    }

    .btn-white {
        background-color: white;
        color: black;
        

    }

    .btn-black {
        background-color: black;
        color: white;
    }

    .btn-azure {
        background-color: rgb(45, 189, 189);
        color: white;
    }

/*  Header and nav */

#nav-container {
    display: flex;
    align-items: center;
    height: 80px;
}
#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.logo {
    align-self: center;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 50%;
}

.link-nav{
    padding: 10px;
    font-size: 16px;
}

.btn-nav {
    align-self: flex-end;
    background-color: white;
    color: black;
    
}

.app-btn {
    display: flex;
}



/* Hero */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 125px;
}

h1 {
    font-size: 56px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.hero-container .text.hero-paragraph {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.hero-cta {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.cta-btn {
    margin-left: 10px;
    margin-right: 10px;
}

/* - - - - MAIN - - - - */

    /* Blocchi contenuti dal primo al terzo */
    .content-block {
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        height: 80%;
        width: 60%;
        display: flex;
    }

    .img-block {
        width: 60%;
        height: 100%;
    }

    .text-block {
        width: 40%;
        height: 100%;
    }

    /* Blocco contenuti in verticale */

    .vertical-content-block {
        width: 100%;
        background-color: azure;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vertical-content-container {
        height: 80%;
        width: 60%;
    }

    .vertical-img-block {
        height: 60%;
        width: 100%;
    }

    .vertical-text-block {
        height: 40%;
        width: 100%;
    }

    /* Call to action before footer */

    .main-cta {
        width: 70%;
        margin: 0 15%;
        background-color: azure;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-cta h5 {
        font-size: 32px;
        font-weight: bold;
    }

    .main-cta a {
        margin-top: 40px;
     }


/* - - - - FOOTER - - - - */

footer {
    height: 500px;
    background-color: rgb(56, 52, 52);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content-container {
    display: flex;
    height: 80%;
    width: 65%;
}

.footer-content {
    height: 100%;
    width: 20%;
}

.content-divider {
    width: 65%;
    height: 2px;
    background-color: blueviolet;
    margin: 10px 0;
    
}

.footer-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 50px;
    background-color: antiquewhite;
}

/* DEBUGGING RULES */

header {
    background-color: lightpink;
}

.container {
    background-color: green;
    border: 1px solid black;
}

/* Header, nav e hero */
.logo {
    background-color: azure;
}

.menu {
    background-color: azure;
    border: 1px solid black;
}

.hero-container {
    background-color: red;
    border: 2px solid black;
}

/* Blocco dei contenuti debug */
.content-block {
    height: 500px;
}

.content-container {
    background-color: aquamarine;
}

.img-block {
    background-color: bisque;
    border: 1px solid black;
}

.text-block {
    border: 1px solid black;
}

/* vertical content */

.vertical-content-block {
    height: 900px;
}

.vertical-content-container {
    background-color: aquamarine;
}

.vertical-img-block {
    background-color: bisque;
    border: 1px solid black;
}
.vertical-text-block {
    border: 1px solid black;
}

/* FOOTER DEBUG */

.footer-content-container {
    background-color: greenyellow;
    border: 3px solid white;
}
.footer-content {
    background-color: bisque;
    border: 2px solid black;
}